{% extends "base.html"%}
{% block content %}

    <div>
        <a href="/signin">Signin</a>
        <a href="/signup">Signup</a>
        <button onclick=window.location.href="{{ url_for('covid_stats') }}">Statistics</button>
    </div>
    <h1>Question</h1>
        {% if questions=="No questions"%}
        <div><h1>{{questions}}</h1></div>
        {% else %}
        {% for each_question in questions %}    
            <div><p><b>Title: {{ each_question['title'] }}</b> <br> Description:{{ each_question['description'] }}</p></div>
            <button onclick=window.location.href="{{ url_for('get_answers_qid', q_id=each_question['q_id']) }}">Answers</button>
        {% endfor %}
        {% endif %}

{% endblock %}