{% extends "base.html" %}

{% block content %}
    <h1>Modify</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.answer_desc.label }}<br>
            {{ form.answer_desc(size=1000) }}
            {% for error in form.answer_desc.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}