{% extends "base.html" %}

{% block content %}
    <h2>POST ANSWER</h2>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.answer.label }}<br>
            {{ form.answer(size=2000) }}
            {% for error in form.answer.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}